<!--  


    <meta charset="utf-8">
 -->

        <div class="container">      
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">      
<!--             <h1>About Us</h1>
 -->        </div>
    </div>


            <div class="container">
            <div class="text-center wow fadeIn">
                <h2>About Us And What We Do</h2>
                <hr class="colored">
            </div>
            </div>

    <div class="container">

    	<h2>Coming Soon</h2>
<!--         <p>Please contact us via email at <a href="info@bolderproduct.com">info@bolderproduct.com</a> or fill out the form below. </p>
 --> 
     </div>

     <br>
     <br>
     