<!-- All of the below now no longer being used in order to insert a contact us page -->


<!--  
    <meta charset="utf-8">


        <div class="container">      
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">      
            <h1>Contact Us</h1>
        </div>
    </div>
    <div class="container">

    	<h2>Form</h2>
        <p>Please contact us via email at <a href="enquiries@debubble.com">enquiries@debubble</a> or fill out the form below. </p>
 
     </div>
 -->
 