<!-- 

    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <meta charset="utf-8">
    <meta name="robots" content="noindex"> -->


   <div class="jumbotron jumbotron-home">
        <div class="container">      
<!--             <h1>Recruitment</h1> -->
        </div>
    </div>    

        <div class="container">      
        </div>
    </div>
<% else %>

<br>
<br>
 
        <div class="container">
            <div class="text-center wow fadeIn">
                <h2>Fancy joining the team</h2>
                <hr class="colored">
<br>
<br>
                <p class="mb-0">This summer we are looking to add to our ranks with at least one new hire. Although we have not started the recruitment process yet, please feel free to send us your CV on a speculative basis to <a href="info@bolderproduct.com">info@bolderproduct.com</a>. Please note that we do not need assistance at this time from recruitment agencies.</p>
            </div>
            

<br>
<br>
</div>
</div>

<br>
<br>
<br>
<br>