<!-- 


    <meta charset="utf-8">
 -->


   <div class="jumbotron jumbotron-home">
        <div class="container">      
<!--             <h1>Recruitment</h1> -->
        </div>
    </div>    

        <div class="container">      
        </div>
    </div>
<% else %>

<br>
<br>
 
        <div class="container">
            <div class="text-center wow fadeIn">
                <h2>Fancy joining the team</h2>
                <hr class="colored">
<br>
<br>
                <p class="mb-0">Following a hugely successful summer, we are looking to add to our ranks with at least one new hire. We are looking for an experienced Product Manager with at least 7 years PM work under their belt. In return we can offer an amazing challenge and the opportunity to accelerate your growth in the PM space. If you have ever felt that 90% of what you learn in a new company comes within the first 6 months, why not try Product Management consulting. You can gain a comprehensive understanding of different industy's and the different challenges that both large corporates and small start-ups face in a very short space of time.  Past consulting experience would be a great asset but being a class 'A' PM is what really makes the difference.
                <br>
                <br> 
<div align="left">
                We are looking for someone who:
                <ul>
                <li>Is passionate about continuous improvement of products</li>
                <li>Is creative and loves the challenge of finding solutions to complex and sometimes technical problems</li>
                <li>Can really push clients to experiment and get the best solutions while understanding that the product is theirs to own</li>
                <li>Can find a pragmatic and best fit approach to Product Management for each client, guided by best practice but with a strong understanding that some businesses are not ready to drop everything and do things strictly by the book</li>
                <li>Can coach client teams and help them to elevate and integrate their PM teams within their business</li>
                <li>Has a strong project management skillset and an eye for detail</li>
                <li>Loves tech and future gazing</li>
                </ul>

                Must have experience:
                <ul>
                <li>Data driven product iteration and improvement</li>
                <li>User testing products and conducting formal or informal user interviews</li>
                <li>A/B testing</li>
                <li>New proposition development</li>
                <li>Profiling user bases and working with personas</li>
                <li>Full product lifecycle management experience</li>
                <li>Working with UX and UI teams</li>
                <li>Senior, Head or Director level PM experience</li>
                </ul>


                Ideally we would love someone who has:
                <ul>
                <li>Done consultancy or contracting work in the past but PM flair is what really matters</li>
                <li>A technical background however an understanding of marketing and propositions is more important than an understanding of code.</li>
                <li>An MBA</li>
                <li>Experience working with both B2B and B2C propositions</li>
                </ul>



                The Role:
                We have found that placements generally take one of two forms, either filling a gap in the client's team or providing guidance and expertise. 

                <br>In addition to the PM role, this is a sales and relationship management role. Consultants pitch, on-board and manage their own clients. Where appropriate, senior consultants will be required to recruit and build a team. 




<br>
                 <br>To apply, please send your CV and covering letter to <a href="mailto:info@bolderproduct.com">info@bolderproduct.com</a>. Please note that we do not need assistance at this time from recruitment agencies.</p>
            </div>
            </div>
            

<br>
<br>
</div>
</div>

<br>
<br>
<br>
<br>